#cmb2-metabox-wds_exacttarget_data_extension_api_admin_metabox .cmb2-metabox-description span {
	background-color: #dadada;
	border-radius: 50%;
	height: 16px;
	width: 16px;
	display: inline-block;
	text-align: center;
	color: white;
	line-height: 16px;
	font-size: 18px;
	margin-left: 5px;
}

#cmb2-metabox-wds_exacttarget_data_extension_api_admin_metabox .cmb2-metabox-description span.success {
	background-color: green;
}

#cmb2-metabox-wds_exacttarget_data_extension_api_admin_metabox .cmb2-metabox-description span.error {
	background-color: red;
}

.cmb2-id-debug-hooks .cmb-td {
	padding-top: 25px;
	max-width: 390px;
}

pre.debug {
	background: #fff;
	border-radius: 2px;
	border: 1px solid #dadada;
	max-height: 500px;
	overflow: scroll;
	padding: 10px;
}
